.addLink section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.form {
	padding:20px;
	background-color: #337BBF;
	position:relative;
}
#nameInput{
    height:150px;
    width:98.22%;
}

#linkInput{
	width:98.22%;
    height:15%;
}

#saveLinkButton{
	margin-top:20%;
	margin-left:90%;
	
	
	
}